* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.wrap {
    display: flex;
    align-items: center;
    gap: 50px;
}
.item_date {
    padding: 20px;
    width: 100px;
    height: 100px;
    background-color: rgba(8, 116, 199, 0.91);
    border-radius: 15px;
    border: 2px solid rgba(240, 240, 240, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    box-shadow: 0 0 25px rgba(0, 54, 94, 0.68);
    color: #fff;
    text-transform: uppercase;
}
.item_date h4 {
    flex: 1;
    font-size: 28px;
}